body 
{
    background-image:url(doodles/doodles.png);
    font-family: 'Josefin Sans', sans-serif;
}

#Container
{
    width:1300px;
    margin-left:auto;
    margin-right:auto;
}

#UpperSide
{
    width:1280px;
    margin-left:10px;
    margin-right:10px;
    margin-top:30px;

}
#Clock
{
    float:left;
    width:300px;
    font-weight:bold;
    font-size:28px;
    font-family: 'Indie Flower', cursive;
}

#Logo
{
    float:left;
    width:980px;
    text-align:center;
    font-size:45px;
    font-weight:bold;
    font-family: 'Lobster', cursive;
}
#LeftMiddleSide
{
    float:left;
    width:780px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    
}

#Image
{
    width:600px;
    position: relative;
    top: 10px;
    left:150px;
    
}
.square
{
    clear:both;
    width:830px;
    margin-left:200px;
    margin-top:20px;

}
.yt
{
    margin-left:40px;
    width:55px;
    height:55px;
    background-color:red;
    float:left;
}
.yt:hover
{
    background-color:#B22222
}
.fb
{
    margin-left:40px;
    width:55px;
    height:55px;
    background-color:#4668b3;
    float:left;
}
.fb:hover
{
    background-color:#3557a2;
}
.gplus
{
    margin-left:40px;
    width:55px;
    height:55px;
    background-color:darkorange;
    float:left;
}
.gplus:hover{
    background-color:#EE7B00;
}
.tw
{
    margin-left:40px;
    width:55px;
    height:55px;
    background-color:dodgerblue;
    float:left;
}
.tw:hover
{
    background-color:#0D80EE;
}
a.tilelinkhtml5
{
    color:#ffffff;
    text-decoration:none;
}
#RightSide
{
    width:320px;
    float:left;
    margin-left:180px;
    

}
.button
{
    width:200px;
    margin:30px;
    margin-bottom:40px;
    text-align:center;
}
 #Footer
    {
        clear: both;
        background-color: lightgrey;
        color: black;
        text-align: center;
        padding: 10px;
        margin-top:30px;
    } 
 /* Teraz dla okna dodawania studenta*/

 #LogoNewStudent
 {
     margin-top:20px;
     width:1300px;
     text-align:center;
     font-size:25px;
     font-weight:700;
     background-color:lightgray;
     padding:10px;
     text-shadow:
        1px 1px 0px #808080,
        -1px 1px 0px #808080,
        -1px -1px 0px #808080,
        1px -1px 0px #808080;
     letter-spacing:3px;
     border-bottom:2px solid #808080;



 }
 #MidNewStudent
 {
     float:left;
     width:550px;
     padding:10px;
     background-color:#FFEFD5;
     height:622px;
     border-bottom:2px solid #919191;

 }
 #Ad
 {
     float:left;
     width:230px;
     border-bottom:2px solid #919191;
     border-left:2px solid #808080;
 }
 #RightNewStudent
 {
     float:left;
     background-color:#FDF5E6;
     padding:10px;
     font-weight:700;
     width:520px; 
     border-top:none;
     height:622px;
     border-bottom:2px solid #919191;
     border-right:2px solid #808080;
     border-left:2px solid #919191;


 }
 #DownNewStudent
 {
     font-size:19px;
     text-align:center;
     margin-top:10px;
 }
 .Registration
 {
     margin-left:auto;
     margin-right:auto;
     margin:45px;
     text-align:center;
     font-size:20px;
 }
 .buttonNewStudent
 {
     text-align:center;
 }
 #Text
 {
     margin:20px;
     margin-left:50px;
     font-weight:300;
     
 }
 #ImageNewStudent
 {
     margin:10px;
 }
 #Text>a:visited
 {
     color:blue;

 }
 #Text>a:link
 {
     font-weight:300;
     color:blue;
 }
 /* Czesc do University.html*/

 #slider
 {
     text-align:center;
     margin-top:100px;
 }

 #ContainerUniversity
 {
     width:1300px;
     margin-left:auto;
     margin-right:auto;
     
 }
 #LogoUniversity
 {
     width:1280px;
     text-align:center;
     font-size:55px;
     font-family: 'Indie Flower', cursive;
     font-weight:bold;  
     background-color:lightgrey;
     padding:10px;
     color:darkblue;
     border-top:2px solid black;
     border-left:3px solid black;
     border-right:3px solid black;
     border-bottom:1px solid black;
     text-shadow:  
         2px 2px 0px #808080,
        -2px 2px 0px #808080,
        -2px -2px 0px #808080,
        2px -2px 0px #808080;
 }

 #LeftUniversity
 {
     width:700px;
     float:left;
     margin-right:20px;
     border-left:3px solid black;
     border-bottom:1px solid black;
 }
 #RightUniversity
 {
     float:left;
     width:564px;
     margin-left:5px;
     margin-top:30px;
     text-align:justify;
     font-size:17px;
     border-bottom:3px solid black;
     height:499px;
     margin-right:5px;
 }
 #DataTable
{
    margin:50px;
    
}

